<div class="row animated fadeIn fast">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Usuarios</h3>

        <div
          class="alert alert-info animated fadeIn fast"
          *ngIf="users.length === 0"
        >
          <p class="mb-0">No hay usuario con ese término</p>
        </div>

        <div class="table-responsive" *ngIf="users.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users" class="animated fadeIn fast">
                <td>
                  <!--  <img [src]="user.img | image: 'usuarios'" class="w75" /> -->
                </td>
                <td>{{ user.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Hospitales</h3>

        <div
          class="alert alert-info animated fadeIn fast"
          *ngIf="hospitals.length === 0"
        >
          <p class="mb-0">No hay hospitales con ese término</p>
        </div>

        <div class="table-responsive" *ngIf="hospitals.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Foto</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let hospital of hospitals"
                class="animated fadeIn fast"
              >
                <td>
                  <img [src]="hospital.img | image: 'hospitals'" class="w75" />
                </td>
                <td>{{ hospital.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Médicos</h3>

        <div
          class="alert alert-info animated fadeIn fast"
          *ngIf="medics.length === 0"
        >
          <p class="mb-0">No hay médicos con ese término</p>
        </div>

        <div class="table-responsive" *ngIf="medics.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Foto</th>
                <th>Médico</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medic of medics" class="animated fadeIn fast">
                <td>
                  <img [src]="medic.img | image: 'medics'" class="w75" />
                </td>
                <td>
                  <a [routerLink]="['/dashboard/medic', medic._id]">
                    {{ medic.name }}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
